*{
    margin: auto;
}
body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}
span{
    color: rgb(33, 118, 255);
}
.main{
    width: 100%;
    height: fit-content;
}
body::-webkit-scrollbar{
    display: none;
}
.pagebreaker{
    width: 100%;
    height: 60px;
}
.nav{
    width: 100%;
    height: fit-content;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.9);  
    background-color: white;
}
.lhs{
    width: 30%;
    height: 60px;
    display: flex;
}
.lhs a{
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
}
.lhs a:hover{
    color: red;
    transition: 1s;
    border-bottom: 2px solid red;
}
.rhs{
    width: 30%;
    height: 60px;
    display: flex;
}
.rhs a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 600;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.rhs a:hover{
    color: red;
    transition: 1s;
    border-bottom: 2px solid red;
}
.mainbody{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(100deg, white 10%, rgba(37, 37, 37, 0.159) 100%);
}
.inb{
    width: 80%;
    display: flex;
}
.llhs{
    width: 50%;
    height: 500px;
    text-align: center;
}
.llhs h5{
    font-size: 35px;
    text-align: left;
    padding: 20px;
    position: relative;
    top: 20%;
}
.rrhs{
    width: 50%;
    height: 500px;
    text-align: center;
}
.imgdes{
    width: 350px;
    height: 420px;
    background-image: linear-gradient(30deg, white 10%, rgba(0, 115, 255, 0.833) 100%);
    border-radius: 250px;
    justify-content: center;
    align-self: center;
    align-content: center;
}
.skills{
    background-color: #000;
    width: 100%;
    height: fit-content;
    padding: 0;
}
.feel{
    font-size: 20px;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
.feele{
    font-size: 20px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
.ooo{
    width: 85%;
    height: fit-content;
    display: flex;
    padding: 20px;
    
}
.skilldiv{
    width: fit-content;
    padding: 20px;
    background-color: white;
    height: fit-content;
    text-align: center;
    user-select: none;
    cursor: progress;
}
.skilldiv:hover{
    transition: 1s;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(208, 208, 208);
}
.skilldiv h5{
    font-size: 13px;
}
spanuig{
    padding-right: 120px;
    color: red;
}

spanugyvd{
    padding-left: 120px;
    color: red;
}
spanjisgsvb{
    font-size: 22px;
    color: black;
}
spanjisgsvbdf{
    color: blue;
    font-size: 22px;
}
spddvsgsvb{
    color: orange;
    font-size: 22px;
}
spajihjngsvb{
    color: red;
    font-size: 22px;
}
srrtdsvb{
    color: green;
    font-size: 22px;
}
fggssvfv{
    color: purple;
    font-size: 22px;
}
jidvndnivjndj{
    font-size: 15px;
    padding: 0;
    font-style: italic;
}
.nigpic{
    width: 30px;
    height: 15px;
    font-style: italic;
}

.projects{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(100deg, white 10%, rgba(37, 37, 37, 0.159) 100%);
}

.projimg{
    width: 100%;
    padding-right: 5px;
}
.projdisp{
    display: flex;
    width: 85%;
    height: fit-content;
}
.proj1{
    width: 350px;
    height: fit-content;
    padding: 8px;
    padding-bottom: 20px;

}
.proj1:hover{
    transition: 1s;
    background-color: #9e9e9e;
}
.projlink{
    padding: 9px;
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.certifica{
    width: 100%;
    background-color: white;
    height: fit-content;
}
.inn{
    width: 100%;
    height: fit-content;
    display: flex;
}
.certificates{
    width: 400px;
    padding: 10px;

}
.flii{
    display: none;
}










@media screen and (max-width: 1280px) {

  

.projdisp{
    width: 90%;
}
.ooo{
    width: 97%;
}
.nav{
    height: fit-content;
}


}



@media screen and (max-width: 1150px) {
   







}




@media screen and (max-width: 1100px) {



.skilldiv{
    padding: 16px;
}





}




@media screen and (max-width: 1024px) {
    
    .lhs a, .rhs a{
        font-size: 16px;
    }
    .llhs h5{
        font-size: 25px;
    }
    .skilldiv{
        padding: 8px;
    }
    .skilldiv h5{
        font-size: 10px;
    }
    .ooo{
        width: 97%;
    }
    spanjisgsvb, spanjisgsvbdf, spddvsgsvb,
    spajihjngsvb, srrtdsvb, fggssvfv{
        font-size: 18px;
    }




   }


@media screen and (max-width: 1000px) {




}








@media screen and (max-width: 980px) {
   

.proj1 h5{
    font-size: 13px;
}


}








@media screen and (max-width: 912px) {
    
    spanjisgsvb, spanjisgsvbdf, spddvsgsvb,
    spajihjngsvb, srrtdsvb, fggssvfv{
        font-size: 16px;
    }
    spanuig{
        padding-right: 100px;
    }
    spanugyvd{
        padding-left: 100px;
    }
    .lhs a, .rhs a{
        font-size: 14px;
    }

}














@media screen and (max-width: 900px) {
    









}



@media screen and (max-width: 820px){

.nav{
    display: block;
    height: fit-content;

}
.lhs, .rhs{
    padding: 0;
    height: 35px;
    width: 40%;
}
.rhs a, .lhs a{
    padding: 0;
    padding-right: 0;
    padding-left: 0;
}
.lhs{
    border-bottom: 2px dashed red;
}
.ooo{
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.certificates{
    width: 30%;
}





}





@media screen and (max-width: 800px) {
 



.ooo{
    display: none;
    height: fit-content;
}
.ooo{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.skilldiv {
    width: 50%;
}
.flii{
    width: 100%;
    height: 30px;
    display: block;
}
.projdisp h5{
    font-size: 12px;
}
.projlink{
    font-size: 10px;
}



}









@media screen and (max-width: 768px) {
  
  

.inb{
    width: 98%;
}




}



@media screen and (max-width: 760px) {
  





}








@media screen and (max-width: 720px) {
  







}


@media screen and (max-width: 712px) {
  





}



@media screen and (max-width: 700px) {



.projdisp{
    display: block;
}


}


@media screen and (max-width: 650px) {
  

.mainbody{
    display: block;
    height: fit-content;
}
.inb{
    display: block;
    height: fit-content;
}
.llhs,.rrhs{
    padding-top: 20px;
    height: fit-content;
    width: 80%;
}
.lhs,.rhs{
    width: 60%;
}
.llhs h5{
    width: 80%;
    text-align: center;
}
.inn,.certifica{
    display: inline-block;
    text-align: center;
}
.certificates{
    width: 80%;
}
.proj1{
    width: 65%;
}

}



@media screen and (max-width: 640px) {
 
   






}







@media screen and (max-width: 600px) {

    






}



@media screen and (max-width: 540px) {
 






}






@media screen and (max-width: 500px) {
 






}


@media screen and (max-width: 480px) {

   
 




}



@media screen and (max-width: 420px) {

   
   .lhs,.rhs{
    width: 99%;
   }
   .projdisp{
    width: 90%;
   }
   .proj1 {
    width: 90%;
   }
   .rrhs{
    padding: 0;
    padding-right: 25px;
   }
   .llhs h5{
    width: 90%;
   }
   .skilldiv{
    width: 80%;
   }




}





@media screen and (max-width: 414px) {

  
   





}





@media screen and (max-width: 412px) {

  
   








}

@media screen and (max-width: 411px) {

  






}



@media screen and (max-width: 393px){
 



}


@media screen and (max-width: 390px){
  
  




}


@media screen and (max-width: 384px){
  
    
 

.imgdes{
    position: relative;
    left: -15px;
}


}



@media screen and (max-width: 375px){

    


.rrhs{
    padding-right: 35px;
}
.ooo{
    text-align: center;
    padding-left: 10px;
}


}






@media screen and (max-width: 360px) {

   

.rrhs{
    text-align: center;
    position: relative;
    left: 13px;
}
.imgdes{
    width: 325px;
    height: auto;
}
.feele{
    font-size: 18px;
}
.llhs h5{
    font-size: 18px;
}


}


@media screen and (max-width: 353px) {

   

.lhs,.rhs{
    width: 95%;
}
.rrhs{
    text-align: center;
    display: block;
    position: relative;
    left: 20px;
}
.imgdes{
    width: 300px;
}



}





@media screen and (max-width: 320px){




.imgdes{
    width: 260px;
    left: -25px;
}
.rrhs{
    padding-right: 0;
}
.rhs a,.lhs a{
    font-size: 12px;
}


}




@media screen and (max-width: 300px) {
 


.imgdes{
    width: 250px;
    padding: 0;
}
.skilldiv{
    position: relative;
    left: -5px;
}
.rrhs{
    padding-right: 0;
    margin: auto;
}


}







@media screen and (max-width: 280px){
  

.imgdes{
    width: 230px;
}



}



@media screen and (max-width: 240px) {

  


}
